@charset "utf-8";
#CssGaga{background-image:none}
.module3 .frame{height: 400px;top: 50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.module3 .ele-logo{background-image: url(img/slice/p3-logo.png);width: 50px;height: 50px;left: 50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);top:0;}
.module3 .ele-people1{background-image: url(img/slice/p3-people1.png);width: 59px;height: 70px;top: 80px;left: 40px;opacity: 0;}
.module3 .ele-people2{background-image: url(img/slice/p3-people2.png);width: 59px;height: 70px;top: 80px;left: 130px;opacity: 0;}
.module3 .ele-people3{background-image: url(img/slice/p3-people3.png);width: 59px;height: 70px;top: 80px;left: 220px;opacity: 0;}
.module3 .ele-dom{background-image: url(img/slice/p3-dom.png);width: 31px;height: 50px;right: 27px;top: 211px;opacity: 0;}
.module3 .ele-underdress{background-image: url(img/slice/p3-underdress.png);width: 34px;height: 56px;top: 277px;right: 30px;opacity: 0;}
.module3 .ele-doll{background-image: url(img/slice/p3-doll.png);width: 41px;height: 75px;top: 344px;right: 16px;opacity: 0;}
.module3 .ele-map{background-image: url(img/slice/p3-map.png);width: 140px;height: 206px;top: 223px;left: 0;
	-webkit-transition:all .2s 1.2s ease-in;transition:all .2s 1.2s ease-in;opacity: 0;}
.module3 .ele-title{text-align: center; width: 100%; color: #fff; font-weight: bold; top: 56px;}
.module3 .ele-p1-des,
.module3 .ele-p2-des,
.module3 .ele-p3-des{font-weight: bold;top: 156px;font-size: 13px;color: #fff;-webkit-transition:all .2s 1s ease-in;transition:all .2s 1s ease-in;opacity: 0;}
.module3 .ele-p1-des{left: 42px;}
.module3 .ele-p2-des{left: 134px;}
.module3 .ele-p3-des{left: 223px;}
.module3 .ele-p1-adj,
.module3 .ele-p2-adj,
.module3 .ele-p3-adj{font-weight: bold;top: 174px;font-size: 13px;-webkit-transition:all .2s 1s ease-in;transition:all .2s 1s ease-in;opacity: 0;}
.module3 .ele-p1-adj{left: 46px;color: #9737f0;}
.module3 .ele-p2-adj{left: 139px;color: #0047e9;}
.module3 .ele-p3-adj{left: 229px;color: #d3303d;}
.module3 .ele-dom-txt{font-size: 12px;color: #fff;top: 237px;left: 149px;
-webkit-transition:all .2s 1.9s ease-in;transition:all .2s 1.9s ease-in;opacity: 0;}
.module3 .ele-underdress-txt{font-size: 12px;color: #fff;top: 302px;left: 149px;
-webkit-transition:all .2s 1.9s ease-in;transition:all .2s 1.9s ease-in;opacity: 0;}
.module3 .ele-doll-txt{font-size: 12px;color: #fff;top: 363px;left: 149px;
-webkit-transition:all .2s 1.9s ease-in;transition:all .2s 1.9s ease-in;opacity: 0;}
.module3 .ele-beijing{left: 20px;top: 311px;font-size: 14px;color: #fff;font-weight: bold;
-webkit-transition:all .2s 1.4s ease-in;transition:all .2s 1.4s ease-in;opacity: 0;}
.module3 .ele-beifang{font-weight: bold;font-size: 14px;color: #3bb040;top: 334px;left: 92px;text-shadow:0px 1px 0px #000;
-webkit-transition:all .2s 1.4s ease-in;transition:all .2s 1.4s ease-in;opacity: 0;}
.module3 .ele-nanfang{font-weight: bold;font-size: 14px;color: #3881f0;top: 357px;left: 92px;text-shadow:0px 1px 0px #000;
-webkit-transition:all .2s 1.4s ease-in;transition:all .2s 1.4s ease-in;opacity: 0;}
.module3 .ele-circle{width: 12px;height: 12px;top: 313px;left: 52px;background-image: url(img/slice/p3-circle.png);
-webkit-transition:all .2s 1.4s ease-in;transition:all .2s 1.4s ease-in;opacity: 0;}
.module3 .ele-line-split{background-color: #fff;width: 0px;height: 1px;top: 353px;
-webkit-transition:all .2s 1.4s ease-in;transition:all .2s 1.4s ease-in;opacity: 0;}

.module3 .ele-line1{background-color: #fff;width: 38px;height: 1px;top: 289px;left: 38px;-webkit-transform:rotate(90deg);transform:rotate(90deg);
-webkit-transition:all .2s 1.6s ease-in;transition:all .2s 1.6s ease-in;opacity: 0;}

.module3 .ele-line2{background-color: #fff;width: 91px;height: 1px;top: 257px;left: 55px;-webkit-transform:rotate(163deg);transform:rotate(163deg);
-webkit-transition:all .1s 1.8s ease-in;transition:all .1s 1.8s ease-in;opacity: 0;}

.module3 .ele-line3{background-color: #fff;width: 6px;height: 1px;top: 329px;left: 102px;-webkit-transform:rotate(90deg);transform:rotate(90deg);
-webkit-transition:all .2s 1.6s ease-in;transition:all .2s 1.6s ease-in;opacity: 0;}

.module3 .ele-line4{background-color: #fff;width: 38px;height: 1px;top: 319px;left: 103px;-webkit-transform:rotate(158deg);transform:rotate(158deg);
-webkit-transition:all .1s 1.8s ease-in;transition:all .1s 1.8s ease-in;opacity: 0;}

.module3 .ele-line5{background-color: #fff;width: 8px;height: 1px;top: 380px;left: 102px;-webkit-transform:rotate(90deg);transform:rotate(90deg);
-webkit-transition:all .2s 1.6s ease-in;transition:all .2s 1.6s ease-in;opacity: 0;}

.module3 .ele-line6{background-color: #fff;width: 38px;height: 1px;top: 378px;left: 105px;-webkit-transform:rotate(159deg);transform:rotate(159deg);
-webkit-transition:all .1s 1.8s ease-in;transition:all .1s 1.8s ease-in;opacity: 0;}

.active .module3 .ele-circle,
.active .module3 .ele-beijing,
.active .module3 .ele-beifang,
.active .module3 .ele-nanfang,
.active .module3 .ele-dom-txt,
.active .module3 .ele-underdress-txt,
.active .module3 .ele-doll-txt,
.active .module3 .ele-map,
.active .module3 .ele-p1-des,
.active .module3 .ele-p2-des,
.active .module3 .ele-p3-des,
.active .module3 .ele-p1-adj,
.active .module3 .ele-p2-adj,
.active .module3 .ele-p3-adj{opacity: 1;}

.active .module3 .ele-line-split{opacity: 1;}
.active .module3 .ele-line1{opacity: 1;}
.active .module3 .ele-line2{opacity: 1;}
.active .module3 .ele-line3{opacity: 1;}
.active .module3 .ele-line4{opacity: 1;}
.active .module3 .ele-line5{opacity: 1;}
.active .module3 .ele-line6{opacity: 1;}

.active .module3 .ele-people1,
.active .module3 .ele-people2,
.active .module3 .ele-people3,
.active .module3 .ele-dom,
.active .module3 .ele-underdress,
.active .module3 .ele-doll{
	-webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration:.4s;
    animation-duration:.4s;
	-webkit-animation-name:p3up;
    animation-name:p3up;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
}
.active .module3 .ele-people1{-webkit-animation-delay: .4s; animation-delay: .4s;}
.active .module3 .ele-people2{-webkit-animation-delay: .5s; animation-delay: .5s;}
.active .module3 .ele-people3{-webkit-animation-delay: .6s; animation-delay: .6s;}
.active .module3 .ele-dom{-webkit-animation-delay: 2.1s; animation-delay: 2.1s;}
.active .module3 .ele-underdress{-webkit-animation-delay: 2.2s; animation-delay: 2.2s;}
.active .module3 .ele-doll{-webkit-animation-delay: 2.3s; animation-delay: 2.3s;}


@-webkit-keyframes p3up
{
    0% {
        -webkit-transform:translateY(20px);
        transform:translateY(20px);
        opacity: 0;}
    90% {
        -webkit-transform:translateY(-5px);
        transform:translateY(-5px);
        opacity: 1;}
    100% {
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
        opacity: 1;}
}

@keyframes p3up
{
    0% {transform:translateY(20px);opacity: 0;}
    90% {transform:translateY(-5px);opacity: 1;}
    100% {transform:translateY(0px);opacity: 1;}
}
