@charset "utf-8";
#CssGaga{background-image:none}
.module9 .frame{height: 400px;top: 50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.module9 .ele-logo{background-image: url(img/slice/p9-logo.png);width: 50px;height: 50px;left: 50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);top:0;}
.module9 .ele-title{text-align: center; width: 100%; color: #fff; font-weight: bold; top: 56px;}
.module9 .ele-staricon1{background-image: url(img/slice/p9-staricon1.png);width: 121px;height: 117px;top: 140px;left: 30px;opacity: 0;}
.module9 .ele-staricon2{background-image: url(img/slice/p9-staricon2.png);width: 121px;height: 117px;top: 270px;left: 30px;opacity: 0;}
.module9 .ele-conclusion{color: #fff;width: 100%;text-align: center;font-size: 12px;top: 90px;opacity: 0;}
.module9 .ele-title1{color: #fff;font-weight: bold;top: 182px;left: 160px;opacity: 0;}
.module9 .ele-title2{color: #fff;font-weight: bold;top: 310px;left: 160px;opacity: 0;}
.module9 .ele-desp1{color: #fff;top: 204px;left: 160px;font-size: 12px;opacity: 0;}
.module9 .ele-desp2{color: #fff;top: 332px;left: 160px;font-size: 12px;opacity: 0;}

.active .module9 .ele-conclusion{
	-webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration:.4s;
    animation-duration:.4s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-name:p9fadein;
    animation-name:p9fadein;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

@-webkit-keyframes p9fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes p9fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.active .module9 .ele-staricon1,
.active .module9 .ele-staricon2,
.active .module9 .ele-title1,
.active .module9 .ele-title2,
.active .module9 .ele-desp1,
.active .module9 .ele-desp2{
	-webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration:.4s;
    animation-duration:.4s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-name:fadeInRight;
    animation-name:fadeInRight;
}

.active .module9 .ele-staricon1,
.active .module9 .ele-staricon2{
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}

.active .module9 .ele-title1,
.active .module9 .ele-title2,
.active .module9 .ele-desp1,
.active .module9 .ele-desp2{
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}


@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}