/*
 * @arthor:tqtan;
 * @title:惠惠购物助手-18禁网购不完全报告;
 * @date:2014/10/12;
*/
@charset "utf-8";
@import url("reset.import.css");
@import url("animate1.import.css");
@import url("animate2.import.css");
@import url("animate3.import.css");
@import url("animate4.import.css");
@import url("animate5.import.css");
@import url("animate6.import.css");
@import url("animate7.import.css");
@import url("animate8.import.css");
@import url("animate9.import.css");
@import url("animate10.import.css");

body{background-color: #fff;color: #000;}
.hide{display: none!important;}

body, html {margin: 0; overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {display: block; position: static; padding: 0; width: 100%; height: 100%; }
.onepage-wrapper {width: 100%; height: 100%; display: block; position: relative; padding: 0; -webkit-transform-style: preserve-3d; }
.onepage-wrapper .section {width: 100%; height: 100%; }
.onepage-wrapper .ops-section {width: 100%; height: 100%; position: relative;}
.main .page_container {width: 100%; height: 100%;position: relative;}
.frame{width: 320px;height: 100%;position: relative; margin: 0 auto;}
.frame div{position: absolute;}

.page{}
.page1{background-color: #ff8a0c;}
.page2{background-color: #117bff;}
.page3{background-color: #ffdb00;}
.page4{background-color: #2bd63b;}
.page5{background-color: #32a1ff;-webkit-transition:all .2s ease-in;transition:all .2s ease-in;}
.page6{background-color: #ff5d96;}
.page7{background-color: #96673e;}
.page8{background-color: #e44b46;}
.page9{background-color: #a137fb;}
.page10{background-color: #ff8a0c;}

.arrow{width:43px;height:15px; position: absolute;bottom:10px;left:50%;margin-left: -21px;
  background-image: url(img/slice/icon-next.png);
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  animation:fadeInUp 1.5s .2s ease infinite;
  -webkit-animation:fadeInUp 1.5s .2s infinite;}


@keyframes fadeInUp{
  0%{opacity:0;transform:translateY(-20px)}
  100%{opacity: 1;transform:translateY(0px)}
}


@-webkit-keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translateY(-20px)}
  100%{opacity: 1;-webkit-transform:translateY(0px)}
}
